html{
  height: 100vh;
  
}
.container{
 
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content:center;
  background-image: url("./components/contabackground.jpg");
  background-size:cover;
  align-items: center;
  
  
}

.secundario{
flex-direction: row;
justify-content: center;
text-align: center;
width: 90%;
margin: 5px;
  
}
input{
  margin:0% 0% 0% 0% ;
  font-family: cursive;
  width: 100%;
  border: none;
  background-color:rgba(217, 233, 247, 0.616);
  border-radius: 10px;
  text-align: center;
}

p{
  margin:0% 0% 0% 0% ;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.801);
}
h1{
  margin:0% 0% 0% 0% ;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.801);
}

textarea {
  width: 100%;
  height: fit-content;
  resize: none;
  background-color: rgba(217, 233, 247, 0.616);
  border: none;
  border-radius: 10px;
}
img{
  max-width: 50%;
  background-color: aliceblue;
}
 
  


