

@font-face {
  font-family:'ButterflyKids-Regular' ;
  src: url('../public/ButterflyKids-Regular.ttf');
}

*{
  font-family:'ButterflyKids-Regular' ;
  
  
  }
  #principal{
     background-image:linear-gradient(to bottom,#86a8e7, #a6c0f7 );
     height:100vh;
  }

  header {
    display: grid;
    text-align: center;
    
  }
  header h1{
    font-weight:600;
    color: #0d6efd;
    margin-top:30px;
  }

  #botoes {
    margin: 20px;
    text-align: center;
  }

  .inputform {
    text-align: center;

  }

  .inputform p {
    margin: 20px;
    font-size: 20px;
    color: #0d6efd;
  }
  input{
    opacity: 0.7
    
  }

::placeholder {
  color: black;
}
img{
  max-width: 100%;
}

html{
  height: 100vh;
  
}
.container{
 
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content:center;
  background-image: url("./components/contabackground.jpg");
  background-size:cover;
  align-items: center;
  
  
}

.secundario{
flex-direction: row;
justify-content: center;
text-align: center;
width: 90%;
margin: 5px;
  
}
input{
  margin:0% 0% 0% 0% ;
  font-family: cursive;
  width: 100%;
  border: none;
  background-color:rgba(217, 233, 247, 0.616);
  border-radius: 10px;
  text-align: center;
}

p{
  margin:0% 0% 0% 0% ;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.801);
}
h1{
  margin:0% 0% 0% 0% ;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.801);
}

textarea {
  width: 100%;
  height: max-content;
  resize: none;
  background-color: rgba(217, 233, 247, 0.616);
  border: none;
  border-radius: 10px;
}
img{
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  overflow: visible;
}
 
  
