
@font-face {
  font-family:'ButterflyKids-Regular' ;
  src: url('../public/ButterflyKids-Regular.ttf');
}

*{
  font-family:'ButterflyKids-Regular' ;
  
  
  }
  #principal{
     background-image:linear-gradient(to bottom,#86a8e7, #a6c0f7 );
     height:100vh;
  }

  header {
    display: grid;
    text-align: center;
    
  }
  header h1{
    font-weight:600;
    color: #0d6efd;
    margin-top:30px;
  }

  #botoes {
    margin: 20px;
    text-align: center;
  }

  .inputform {
    text-align: center;

  }

  .inputform p {
    margin: 20px;
    font-size: 20px;
    color: #0d6efd;
  }
  input{
    opacity: 0.7
    
  }

::placeholder {
  color: black;
}
img{
  max-width: 100%;
}